/* default / mobile view */
body{
    font-family: "Alegreya Sans SC", serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

header{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nav_links{
    color: #0000ff; 
}

div > header{
    background: #288088;
    border: 2px solid #45ADAD; 
    padding: 20px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    flex-basis: 450px;
}

#image1, #image2, #image3, #image4, #image5 {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header > img{
    animation-name: headerguy;
    animation-duration: 5s;
} 

/* title animation */
@keyframes headerguy {
    0% { width: 50px; opacity: 0;}
    100% { width: 425px; opacity: 1;}
}

/* 850px minwidth view  */
@media screen and (min-width: 850px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    body > header {
        position: sticky;
        top: 0;
    }

    .nav_links{
        flex-direction: row;
    }    
    /* fix header position */
    .card{
        flex-basis: 250px;
    }
}

/* print view !!!change to print view before turning in */
/* @media screen and (min-width: 1050px){ */
    @media print {
        body{
            background-image: none;
        }
    
        nav{
            width: 100%
        }
    
        .nav_links {
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        .pricing{
            flex-wrap: nowrap;
            align-items: flex-end;
        }
    
        .gallery, #gallery, #image1, #image2, #image3, #image4, #image5 {
            display: none;
        }
    
        .card{
            border: 2px solid #45ADDD;
        }
    
        /* this goes crazy */
        .card li:nth-of-type(odd)::before, .card li:nth-of-type(even)::after {
            content: "👍";
          }
    
    }
    
/* Reduced Motion */
@media (prefers-reduced-motion: reduce) { 
    header > img {
        animation: none;
    }
}
    